<div class="p-10 text-zinc-50 font-sans">
  <div
    class="bg-slate-800 bg-gradient-to-b from-white/5 via-slate-800 w-96 rounded-3xl flex flex-col p-8 gap-8"
  >
    <div class="p-3 w-fit bg-white/5 text-center rounded-full">⭐</div>

    <div class="flex flex-col gap-4">
      <div class="text-2xl font-bold">How did we do?</div>
      <div class="text-sm text-zinc-500 font-medium">
        Please let us know how we did with your support request. All feedback is
        appreciated to help us improve out offering!
      </div>
    </div>

    <div class="flex justify-between">
      <button
        class="hover:text-white hover:bg-orange-500 text-sm bg-gray-700/70 h-10 w-10 rounded-full font-medium transition hover:brightness-125"
        [ngClass]="{
          'bg-gray-500 text-white': ratingButtonIndex.isChecked,
          'text-zinc-500': ratingButtonIndex.isChecked == false
        }"
        *ngFor="let ratingButtonIndex of ratingButtonsIndexes"
        (click)="onRatingButtonClick(ratingButtonIndex)"
      >
        {{ ratingButtonIndex.index }}
      </button>
    </div>

    <button
      class="hover:bg-white hover:text-orange-500 transition text-sm font-semibold uppercase tracking-widest rounded-full bg-orange-500 py-3"
    >
      Submit
    </button>
  </div>
</div>
